{block title}Demo:default{/block}

{block #content}

<p>
	H1 by mal byť červenou farbou.
</p>

<p>
	Prezrite si FIREBUG net konzolu a všimnite si,
	že sa načítal iba jeden nový JS a CSS súbor a že globálne
	JS a CSS súbory sú <strong>304 Not Modified</strong>.
</p>
