{block title}Demo:demo{/block}

{block #content}

<p>
	Strong text by mal byť zelený.
</p>

<p>
	V tomto prípade sa síce načítal nový JS súbor,
	ale ten obsahuje iba skripty, ktoré sú určené
	len pre túto akciu a presenter.
	Opäť! Globálny
	JS súbor je
	<strong>304 Not Modified</strong>
</p>
